@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.open-sans-font {
   font-family: "Open Sans", sans-serif;
   font-optical-sizing: auto;
   font-style: normal;
   font-variation-settings:
    "wdth" 100;
    background-color: #1A0B2E;
   
    
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
main{
    background-color: #1A0B2E;
}
/* shared style */
.btn-primary{
    font-size: 1rem;
    font-weight: 500;
    padding: 12px 16px;
    color: #fff;
    border: none;
    border-radius: 1000px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    margin-right:5px ;
    cursor: pointer;
}
.btn-primary:hover{
    background: var(--Linear, linear-gradient(227.64deg,
    rgba(145, 0, 248, 1),
    rgba(251, 9, 180, 1),
    rgba(247, 233, 63, 1)));
    color: #fff;
}
.btn-two{
    font-size: 1rem;
    color: #00FF88;
    border: 1px solid #00FF88;
    border-radius: 1000px;
    padding: 12px 20px;
    background-color: rgba(0, 0, 0, 0);
}
/* header style */
.header{
    background-color: #1A0B2E;
    min-height: 50rem;
    margin: 0 auto;

}
.header-content{
    background-color: #1A0B2E;
    padding: 30px;
    /* max-width: 1440px; */
    margin: 0 auto;
    border-bottom: 1px solid #371860;
}
.navbar {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
}
.nav-menu{
    list-style: none;
    display: flex;
    gap: 32px;
}
.nav-link{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
}
.banner{
    background: url('../Assets/hero-bg.png');
    height: 760px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 100px;
}
.hamburger-menu{
    display: none;
}
.banner,
.banner-container,
.banner-badge-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.banner-badge-icon{
    width: 350px;
    height: 350px;
    background: url('../Assets/hero-circle.png');
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    margin-top: -150px;
}
.badge{
    background-color: #00FF88;
    padding: 8px 16px;
    border-radius: 1000px;
    font-size: 16px;
    box-shadow: 0 5px 50px;
    position: absolute;
    margin-top: -660px;
    margin-right: -180px;
}
.banner-content{
    text-align: center;
    margin-top: 40px;
}
.banner-title{
    font-size: 60px;
    font-weight: 800;
    color: #fff;
    margin-top: 24px;
    text-align: center;
}
.banner-description{
    font-size: 16px;
    font-weight: 300;
    color: #ffffffa5;
    margin-bottom: 20px;
}
.about{
    background-color: #1B0B2F;
    padding: 50px 200px 80px;
}
.about-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    
.about-description{
    width: 770px;
    gap: 15px;
}
.counter-area{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
}
.counter-number{
    font-size: 48px;
    font-weight: 900;
    color: #00FF88;
}
.counter-name{
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
}
hr{
    border-color: #fff;
    opacity: 10%;
    margin: 80px 0px;
}
.choose{
    background-color: #230E3D;
}
.choose-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    
}
.choose-title{
    margin: 120px 0px 40px;
    text-align: center;
}
.premium-audio-feature {
  grid-area: premium;
  padding: 107px 40px;
}

.mobile-friendly-feature {
  grid-area: mobile;
  padding: 40px;
}

.global-community-feature {
  grid-area: global;
  padding: 40px;
}

.exclusive-interviews-feature {
  grid-area: exclusive;
  padding: 40px;
}

.rich-resources-feature {
  grid-area: rich;
  padding: 40px;
}

.choose-card{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "premium        mobile       mobile"
    "premium        global       global"
    "exclusive      exclusive    rich";
    margin-bottom: 120px;
}
.card-list{
    background-color: #351165;
    border-radius: 40px;
    box-shadow: 
    0 8px 24px rgba(0, 0, 0, 0.25),
    inset 0 1px 0 rgba(255, 255, 255, 0.05);
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}
.card-title{
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    color: #fff;
}
.features{
    max-width: 1440px;
    margin: 0 auto;
    background-color: #1A0B2E;
    padding: 120px 0px;
}
.features-card-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 40px;
    justify-items: center;
}
.features-card{
    max-width: 420px;
    min-height: 440px;
    background-color: #250D44;
    border-radius: 20px;
}
.title-description{
    padding: 24px;
    gap: 12px;
}
.card-duration{
    color: #00FF88;
    font-weight: 600;
}
iframe{
    border-radius: 20px 20px 0px 0px;
}
.host-container{
    max-width: 1440px;
    margin: 0 auto;
}
.host-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 40px;
    background-color: #250D44;
    border-radius: 40px;
    margin: 40px 0px 120px;
}
.icon{
    gap: 10px;
}
.icon a{
    border: 1px solid #ffffff88;
    padding: 10px 13px;
    border-radius: 50%;
    text-align: center;
}
.footer{
    background: url('../Assets/footer-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 412px;
    gap: 32px;
}
.footer{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.footer-content{
    gap: 32px;
}
.footer-logo{
    width: 100%;
}
.podcast-icon{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    justify-content: center;
}
.footer-card{
    display: flex;
    gap: 10px;
    margin: 32px 0px;
}
.footer-card,.footer-content p{
    color: #fff;
}

@media screen and (max-width:676px) {
    .header{
        min-height: 446px;
    }
    .banner{
        background-size: contain;   
        height: 500px;     
    }
    .banner-badge-icon{
        width: 200px;
        height: 200px;
        background-size: 100%;
        margin: 0;
        margin-bottom: -80px;
    }
    .microphone{
        width: 25%;
    }
    .badge{
    margin-top: -360px;
    margin-right: -130px;
    }
    .banner-content{
        padding: 20px;
    }
    .navbar{
        display: flex;
    }
    .nav-menu,
    .subscribe-btn{
        display: none;
    }
    .navbar,
    .nav-menu,
    .host-content{
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
    .choose{
        margin: 0;
    }
    .about{
        padding: 50px 10px 80px;
    }
    .about-title{
        font-size: 32px;
    }
    .about-description{
        width: 450px;
    }
    .counter-area{
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }
    
    .choose-card,
    .features-card-list{
        grid-template-columns: repeat(1,1fr);
        grid-template-areas:
        "premium"
        "mobile"
        "global"
        "exclusive"
        "rich";
        padding: 20px;
        margin: 0 auto;
    }
    .features{
        padding: 20px 0px;
        
    }
    .features-card{
        margin: 0;
    }
    .features-card-list{
        gap: 16px;
        margin: 0;

    }
    .choose-title,
    .features-title,
    .host-title{
        font-size: 32px;
        margin: 20px 2px 0px;
    }
    .host-container{
        padding: 0px 20px;
    }
    .host-title{
        margin: 0;
    }
    .podcast-icon{
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding: 0;
    }
}