@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* shared style */
.btn-primary{
    font-size: 16px;
    font-weight: 500;
    padding: 12px 16px;
    color: #fff;
    border: none;
    border-radius: 1000px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    margin-right:5px ;
}
.btn-two{
    font-size: 16px;
    color: #00FF88;
    border: 1px solid #00FF88;
    border-radius: 1000px;
    padding: 12px 20px;
    background-color: rgba(0, 0, 0, 0);
}
/* header style */
.header{
    background-color: #1A0B2E;

}
.header-content{
    background-color: #1A0B2E;
    padding: 30px;
    /* max-width: 1440px; */
    margin: 0 auto;
    border-bottom: 1px solid #371860;
}
.navbar {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-menu{
    list-style: none;
    display: flex;
    gap: 32px;
}
.nav-link{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
}
.banner{
    background: url('../assets/hero-bg.png');
    height: 760px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 100px;
}

.banner,
.banner-container,
.banner-badge-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.banner-badge-icon{
    width: 350px;
    height: 350px;
    background: url('../assets/hero-circle.png');
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    margin-top: -150px;
}
.badge{
    background-color: #00FF88;
    padding: 8px 16px;
    border-radius: 1000px;
    font-size: 16px;
    box-shadow: 0 5px 50px;
    position: absolute;
    margin-top: -620px;
    margin-right: -160px;
}
.banner-content{
    text-align: center;
}
.banner-title{
    font-size: 60px;
    font-weight: 800;
    color: #fff;
}
.banner-description{
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 20px;
}
.about{
    background-color: #1A0B2E;
    padding: 50px 200px 80px;
}
.about-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    
.about-description{
    width: 770px;
    gap: 15px;
}
.counter-area{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
}
.counter-number{
    font-size: 48px;
    font-weight: 900;
    color: #00FF88;
}
.counter-name{
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
}
hr{
    border-color: #fff;
    opacity: 10%;
    margin: 80px 0px;
}
@media screen and (max-width:676px) {
    .banner{
        background-size: contain;   
        height: 500px;     
    }
    .banner-badge-icon{
        width: 200px;
        height: 200px;
        background-size: 100%;
        margin: 0;
        margin-top: 40px;
    }
    .microphone{
        width: 25%;
    }
    .badge{
    margin-top: -360px;
    margin-right: -130px;
    }
    .banner-content{
        padding: 20px;
    }
    .navbar,.nav-menu{
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
    .about{
        padding: 50px 10px 80px;
    }
    .about-title{
        font-size: 32px;
    }
    .about-description{
        width: 450px;
    }
    .counter-area{
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

}